.roll {
  transform: translateX(0);
  transition: transform 0.3s;
  z-index: 99;
  filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.1));
  @apply fixed;
}

.roll img {
  pointer-events: none;
}

.roll--close {
  transform: translateX(calc(-110%));
}

.icon {
  stroke: var(--gray-800);
  fill: var(--gray-800);
}
.icon--active {
  stroke: white;
  fill: white;
}
