.searchFloat {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: calc(2px + var(--safe-area-inset-top, 0px));
  right: calc(50% - 16px);
  z-index: 31;
  // height: 36px;
  // border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .searchFloat {
    right: calc(50% - 96px);
  }
}
