.msg-item {
  padding: 8px 12px;
  border-radius: 4px;

  &--assistant {
    @apply bg-primary;
    color: white;
  }
  &--user {
    background-color: white;
  }
  &--temp {
    background-color: #fffbe6;
  }
}

.bot {
  &--loading {
    img {
      animation: loading 1.6s infinite;
    }
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
